

h1{
	font-family: 'Quicksand','Avenir Light', sans-serif;
	color: #FF83FA;
	text-align: center;
}


body{
	margin-left: 0;
	margin-right: 0;
	font-family: 'Quicksand','Avenir Light', sans-serif;
}


#logo {
	text-align:center;
	margin: 0 auto;
	vertical-align: middle;
}

#social{
	text-align: center;
	width: 100%;
	margin: 20 0px;
}

#social img{
	display: inline-block;
	margin: 0 auto;	
	padding-top: 20px;
	padding-bottom: 20px;
}


#nav-menu{
	text-align: center;	
	/*padding-right: 100px;*/
	border-bottom: 1px solid #ddd;
}


#nav-menu a{
	color: black;
	margin-right: 20px;
	text-decoration: none;
	font-family: 'Quicksand','Avenir Light', sans-serif;
	text-transform: uppercase;
}

#nav-menu li{
	list-style: none;
	display: inline-block;
	margin: 0 auto;
}

#header li a:hover{
	 color: #FF83FA;
}


/*Home Page*/




/*Price List*/
#price-list {
	text-align: center;
	padding-bottom: 50px;
	border-bottom: 1px solid #ddd;
}

#price-list h3 {
	color: #FF83FA;
	text-decoration: underline;
}

#price-list h3 a {
	color: #FF83FA;
	text-decoration: underline;
}



/*Photo Gallery*/
#image-container {
	max-width: 1400%;
	margin: 10px auto;
	position: relative;
	text-align:center;
	padding: 30 0 30 0px;
	border-bottom: 1px solid #ddd;
}

.box{
	display: inline-block;
	max-width: 320px;
	padding: 5px;
	margin: 0 auto;
}


.box img {
	width: 90%;
	border: 5px solid black;
	max-width: 940px;
	margin: 0 auto;
	display: block;
	margin: 10px;
}


/*Opening-Hours*/
#hours {
	text-align: center;
	border-bottom: 1px solid #ddd;
}


/*Contact Page*/

#map-container{
		width: 100%;
		padding-top: 30px;
		padding-bottom: 450px;
		border-bottom: 1px solid #ddd;
 }

.lead{
	color: black;
	font-family: 'Quicksand','Avenir Light', sans-serif;
	font-size: 150%;
	display: block;
	text-align: right;
	margin-right: 30px;
	padding: 10px;
	float: left;
	padding-left: 22%;
}

 #bb-map{
 	display: block;
 	width: 400px;
    height: 400px;
    float: right;
    margin-right: 22%; 
 }




/*Footer*/

/*#social img{
	display: inline-block;
	margin: 0 auto;	
	padding-top: 20px;
	padding-bottom: 20px;
}

#social{
	text-align: center;
	width: 100%;
	margin: 20 0px;
	padding: 10px;	
}*/


#copyright p{
	font-family: 'Quicksand','Avenir Light', sans-serif;
	color: #34403F;
	font-size: 60%;
	text-align: center;
	font: arial;
	padding-bottom: 30px;
}
